* {
    box-sizing: border-box;
}

.Ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    background: var(--primaty-grey-light, #F6F5F4);
    width: 100%;
    height: 170px;
    box-sizing: border-box;
}

.CopyrightContent {
    width: 64%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}

.CopyrightSentence {
    color: var(--primaty-grey-dark, #757575);
    width: 100%;
    height: 1.25vw;
    font-family: Montserrat;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
}

.CopyrightLine {
    height: 1232px;
    stroke-width: 1.205px;
    box-sizing: border-box;
    stroke: var(--primaty-grey-medium, #E0E0E0);
}

.Contact {
    display: flex;
    width: 100%;
    height: 29%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.Logos {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 7%;
    width: 20%;
    height: 100%;
}

.ContactEmail {
    color: var(--primaty-grey-dark, #757575);
    font-family: Montserrat;
    font-size: 1%;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: end;
    width: 60%;
    height: 100%;
}