* {
    box-sizing: border-box;
}

.Ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
    background: var(--primaty-grey-light, #F6F5F4);
    width: 100vw;
    height: 170px;
    box-sizing: border-box;
}

.CopyrightContent {
    width: 64.166666666666666666666666666667vw;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-sizing: border-box;
}

.CopyrightSentence {
    color: var(--primaty-grey-dark, #757575);
    width: 64.166666666666666666666666666667vw;
    height: 1.25vw;
    font-family: Montserrat;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.CopyrightLine {
    height: 64.166666666666666666666666666667vw;
    stroke-width: 1.205px;
    box-sizing: border-box;
    stroke: var(--primaty-grey-medium, #E0E0E0);
}

.Contact {
    display: flex;
    width: 61.458333333333333333333333333333vw;
    height: 26px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.Logos {
    display: flex;
    align-items: center;
    gap: 1.5625vw;
    width: 7.1875vw;
    height: 1.0416666666666666666666666666667vw;
}

.ContactEmail {
    color: var(--primaty-grey-dark, #757575);
    font-family: Montserrat;
    font-size: 1.0416666666666666666666666666667vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: right;
    width: 18.90625vw;
    height: 1.0416666666666666666666666666667vw;
}